body {
  background-color: #eceef2;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  padding: 10px;
  text-align: center;
}

header {
  display: flex;
  justify-content: flex-end;
}

.account_btn,
.sign_in_btn {
  background-color: #0077c5;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  height: 35px;
}

.account_btn {
  border: 1px solid gray;
  font-size: 20px;
  max-height: 45px;
  max-width: 100%;
}

.sign_in_btn {
  margin-left: 20px;
  width: 100px;
}

main {
  text-align: center;
}

#intuit {
  color: whitesmoke;
  width: 200px;
}

fieldset {
  background-color: white;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  margin: 20px auto 20px auto;
  max-height: 600px;
  max-width: 380px;
  padding: 30px;
  
}

h2,
h4 {
  color: #4c4c4c;
}

.whitesmoke {
  background-color: whitesmoke;
}

input {
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  max-height: 25px;
  width: 100%;
}

footer {
  text-align: center;
}

.links_blue {
  color: #3a94d6;
}
