body {
  background-color: #eceef2;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  padding: 10px;
  text-align: center;
}

header {
  display: flex;
  justify-content: flex-end;
}

.account_btn,
.sign_in_btn {
  background-color: #0077c5;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  height: 35px;
}

.account_btn {
  border: 1px solid gray;
  font-size: 20px;
  min-height: 47px;
  min-width: 100%;
}

.sign_in_btn {
  margin-left: 20px;
  width: 100px;
}

main {
  text-align: center;
}

fieldset {
  background-color: white;
  border: 1px solid lightgray;
  border-bottom: none;
  margin: 20px auto 0 auto;
  max-width: 340px;
  min-height: 560px;
  padding: 25px;
}

h2,
h4 {
  color: #4c4c4c;
}

.whitesmoke {
  background-color: #eceef2;
  border: 1px solid lightgray;
  border-top: none;
  font-size: x-small;
  margin: 0 auto 0 auto;
  max-width: 340px;
  padding: 25px;
}

input {
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-top: 5px;
  min-height: 30px;
  min-width: 100%;
}

footer {
  text-align: center;
}

.links_blue {
  color: #3a94d6;
}

.learn {
  font-size: small;
}

.intuit {
  color: whitesmoke;
  width: 170px;
}

em {
  font-size: smaller;
}

.description_account {
  font-size: 15px;
}

.align_left {
  text-align: start;
}
