body {
  background-color:#ECEEF2 ;
  font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
form {
  text-align: center;
  padding: 10px;
}
header {
  display: flex;
  justify-content: flex-end;
}
.sign_in_btn,
.account_btn {
  background-color:	#0077c5 ;
  color: white;
  height: 35px;
  border-radius: 5px;
}
main {
    text-align: center;
}
#intuit {
  width: 300px;
  color: whitesmoke;
}

fieldset {
  width: 380px;
  height: 600px;
  background-color: white;
  border: 1px solid lightgray;
  margin: 20px auto 20px auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.whitesmoke {
  background-color: whitesmoke;
}
input {
  border: 1px solid lightgray;
  display: block;
  border-radius: 5px;
  text-align: center;
}
footer {
  text-align: center;
}
.links_blue {
    color: #3a94d6 ;
}