body {
    background-color: whitesmoke;
}
form {
    
    text-align: center;
    padding: 10px;
    
}
header {
    display: flex;
    justify-content: flex-end;
}
.sign_in_btn {
    background-color: #0f7db0;
    color: white;
    height: 35px;
}

fieldset {

    width: 450px;
    height: 700px;

}
.whitesmoke {
    background-color: whitesmoke;
}

.account_data input {
    display: block;
}